<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header></header>
    <section class="main">
        <div>
           
            <h1>Upload file</h1>
            <form id="form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="text" name="numberDetachment" placeholder="номер отряда">
                <input type="text" name="date" placeholder="дата приказа">
                <input type="text" name="numberOrder" placeholder="номер приказа">
                <input type="text" name="fullNameChief" placeholder="Ф.И.О начальника отряда">
                <input type="text" name="rankChief" placeholder="звание начальника отряда">
                <label>Файл</label><br>
                <input type="file" name="filedata" /><br><br>
                <input type="submit" value="Send" id="sendButton"/>
            </form>
        </div>
    </section>
    <footer></footer>
    <script>
        document.addEventListener('load', ()=> alert("Hello"))
        let date = document.querySelector('form');
        console.log(form);
        date.addEventListener('loadeddata',(event)=>{
            console.log("Hello");
        })
    </script>
</body>

</html>